html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  color: var(--dark);
  padding: 0;
  margin: 0;
}

/* shows any elements hidden for JS intro animations */
html:not(.has-js) .fouc {
  animation: fade-in 0.5s ease-out 2s forwards;
}

.skip-link {
  visibility: hidden;
  text-decoration: none;
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  border: none;
}

.skip-link:not(:focus) {
  visibility: visible;
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
