/* lovely stuff - https://piccalil.li/quick-tip/flow-css-utility/ */

:root {
  --flow: 1rem;
}

.flow > * + * {
  margin-top: 1rem;
  margin-top: var(--flow);
}

/* text color utils */
.text-white {
  color: var(--light);
}

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
